**SET**

In [1]:
# A set is collection which is unordered, unchangable, unindexed. It always have unique value.
string={"Neetu","Kittu","Jyoti"}
print(string)
print(type(string))

{'Neetu', 'Jyoti', 'Kittu'}
<class 'set'>

In [2]:
#Set do not allow duplicate value

set1={"Apple","Orange","Apple","Mango"}
print(set1)

{'Apple', 'Orange', 'Mango'}

In [3]:
# Set consider Ture and 1 as equal 
# Set consider False and 0 as equal 
set1={1,5,6,3,True,False,0}
print(set1)

{False, 1, 3, 5, 6}

**Set Constructor**

In [4]:
s = set((1,5,7,8,2,3))
print(s)

{1, 2, 3, 5, 7, 8}

In [5]:
# You cannot access set of items by using  indexing

set1={1,5,6,3,True,False,0}
print(set[2])

set[2]

In [6]:
set1={1,5,6,3,True,False,0}
for x in set1:
    print(x)

False
1
3
5
6

** Use of IN and NOT IN**

In [7]:
set1={"Apple","Orange","Apple","Mango"}

if "Apple" in set1:
    print("Present")
else:
    print("Not Present")

Present

In [8]:
set1={"Apple","Orange","Apple","Mango"}

if "Apple" not in set1:
    print("Present")
else:
    print("Not Present")

Not Present

In [9]:
set1={"Apple","Orange","Apple","Mango"} # Use of add() function
set1.add("Lichi")
print(set1)

{'Apple', 'Lichi', 'Orange', 'Mango'}

In [10]:
set1={"Apple","Orange","Guava","Mango"} ##Giving error
print(set1)
set1.update(["Orange","Grapes"])
print(set1)

{'Guava', 'Apple', 'Orange', 'Mango'}
{'Apple', 'Orange', 'Guava', 'Grapes', 'Mango'}

In [11]:
set1={"Apple","Orange","Guava","Mango"}
set1.remove("Guava")
print(set1)

{'Apple', 'Orange', 'Mango'}

In [12]:
set1={"Apple","Orange","Guava","Mango"}
set2={1,2,4,6,7,8}
set1.update(set2)
print(set1)

{1, 2, 4, 6, 7, 8, 'Apple', 'Orange', 'Guava', 'Mango'}

In [13]:
set1={"Apple","Orange","Guava","Mango"}
list1=[1,6,8,0,2,4]
set1.update(list1)
print(set1)
print(type(set1))

{0, 1, 2, 4, 6, 8, 'Apple', 'Orange', 'Guava', 'Mango'}
<class 'set'>

In [14]:
list1 = [2, 6, 8, 4, "Neetu", 6, 2, 8, "Kittu"]
list1 = list(set(list1))
print(list1)

[2, 4, 6, 'Kittu', 8, 'Neetu']

**Remove set item**

In [1]:
set1={"Apple","Orange","Guava","Mango"}
set1.remove("Orange")
print(set1)

{'Guava', 'Mango', 'Apple'}

In [2]:
set1={"Apple","Orange","Guava","Mango"}
set1.discard("Orange")
print(set1)

{'Guava', 'Mango', 'Apple'}

In [3]:
# pop() remove random elements from a set
set1={"Apple","Orange","Guava","Mango"}
set1.pop()
print(set1)

{'Mango', 'Orange', 'Apple'}

In [6]:
set1={"Apple","Orange","Guava","Mango"}
set1.clear()
print(set1)

set()

In [8]:
set1={"Apple","Orange","Guava","Mango"}
del set1

**Set operation**

In [ ]:
# Set support various operation such as Union, Intresection, differences